.App {

}


@media (prefers-reduced-motion: no-preference) {

}

.price, .number {
    text-align: right;
}

.portfolio-item td {
    border-right: solid 1px #d8d8d8;
    border-left: solid 1px #d8d8d8;
}

.portfolio-item .number {
    padding-right: 10px;
}

.portfolio-table {
    border: 1px solid #d8d8d8;
}

.portfolio-table th {
    text-align: center;
}

.portfolio-item-summary {
    font-weight: bold;
}

.currency-balance {
    text-align: left;
}
.currency-balance .price {
    text-align: left;
}